@charset "UTF-8";

body{
    background-color: rgb(215, 117, 137);
    font-family: Arial, Helvetica, sans-serif;
}

#one{
    color: crimson;
    text-align: center;
    background-color: beige;
}

h1{
    color: rgb(113, 5, 43);
}

.basico{
    color: rgb(194, 52, 52);
    font-weight: lighter;
}

.intermediario{
    color: red;
}

.avancado{
    color: rgb(148, 0, 0);
    font-weight: bold;
}

.destaque{
    background-color: rgb(255, 183, 0);
}