@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #e94f37, #f3a738, #F3D34A);
}
main{
    background-color: #F3E37C;
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 40px;
    box-shadow: 10px 20px 20px #4E3822;
}

h1{
    color: #e94f37;
    text-align: center;
    text-shadow: 2px 2px 1px #4E3822;
}

h2{
    color: #4E3822;
}