*{
    margin: 0;
}
body{
    background-color: #fdfdff;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #642ca9;
    height: 100px;
    padding: 15px 0;
}
.usuario{
    height: 45px;
    float: right;
    padding: 0px 30px 0px 0;
    margin-bottom: 0px;
    margin-top: -80px;
    font-size: 20px;
}
#login{
    padding-top: 10px;
    margin-right: 45px;
}
#input{
    float: right;
    margin: -66px 30% 0 0;
    width: 35%;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    justify-content: center;
    display: flex;
}
#input:focus{
    outline: none;
}
#logo{
    width: 180px;
    padding: 10px;
}
.img{
    height: 250px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.322);
}
a{
    color: #fdfdff;
    text-decoration: none;
    font-weight: bold;
}  
#fot{
    width: 100%;
}
#navv{
    justify-content: center;
    display: flex;
    background-color: #fdfdff;
    margin: 20px 0;
}
.links{ 
    padding: 10px 25px;
    margin: 50px 20px 20px 20px;
    font-size: 20px;
    background-color: #642ca9;
    border-radius: 20px;
}
.links:hover{
    background-color: #fdfdff;
    color: #642ca9;
    transition: 0.7;
}
#promocao{    
    justify-content: center;
    display: flex;
}
.promocao{
    padding: 15px 40px;
}
.div{
    height: 250px;
    width: 170px;
    background-color: #fdfdff;
    margin: 25px;
    border-radius: 15px;
}
#racao{
    background-color: #05b3ba;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    border-radius: 35px;
    padding:  20px 30px 50px 30px;
}
#r1, #r2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: #fdfdff;
}
.imgProduto{
    height: 65%;
    margin-top: 15px;
    margin-left: 20%;
}
.descricao{
    text-align: center;
    font-size: 14px;
    padding: 15px 0 5px 0;
}
.preco{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.espProduto{
    height: 65%;
    margin-top: 15px;
    margin-left: 15%;
}
.wProduto{
    width: 65%;
    margin-top: 35%;
    margin-bottom: 20%;
    margin-left: 20%;
}
.wwProduto{
    width: 65%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
}
#promo{
    background-color: #642ca9;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    border-radius: 35px;
    padding:  20px 30px 50px 30px;
}
.div:hover{
    margin: 5px;
    background-color: #fdfdff;
    transition: 0.7s;
    color: #642ca9;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 2px 6px 8px 3px #220f3a95;
}