*{
    margin: 0;
}
body{
    background-color: #fdfdff;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #642ca9;
    height: 180px;
}
.img{
    height: 250px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.322);
}
.link{ 
    padding: 15px 50px 10px 50px;
    margin:0 20px;
    font-size: 20px;
    background-color: #642ca9;
    border-radius: 20px;
}
.link:hover{
    background-color: #fdfdff;
    color: #642ca9;
    transition: 0.7;
}
nav{
    justify-content: center;
    display: flex;
    background-color: #fdfdff;
    margin: 20px 0;
}
a{
    color: #fdfdff;
    text-decoration: none;
    font-weight: bold;
}  
article{
    background-color: #fdfdff;
    height: 750px;
    padding: 15px;
    margin-top: 300px;
    color: #2f1450;
}
h1{
    color: #642ca9;
}
.a{
    padding: 50px 40px ;
    text-align: justify;
    line-height: 25px;
}
.a>p, h1{
    width: 60%;
    padding: 20px;
}
#b{
    float: right;
    margin: -260px 0;
}
.d{
    float: right;
}
.d>p{
    padding: -100px 0;
}
h1{
    font-weight: bold;
    font-size: 40px;
}
#fot{
    width: 100%;
    margin: 0;
}
footer{
    background-color: #05b3ba;
}
#principal{
    width: 100%;
}
#section{
    background-color: #fdfdff;
    height: 400px;
    justify-content: center;
    display: flex;
}
#secao{
    height: 500px;
    background-color: #642ca9;
    margin-top: 300px;
}
#lista{
    color: #fdfdff;
    line-height: 25px;
    float: right;
    margin: 100px 45% 10px 100px;
    text-align: center;
}
#titulo{
    color: #fdfdff;
    font-size: 25px;
    display: inline;
    line-height: 60px;
}
#etapas{
    width: 100%;
}
#imagens{
    justify-content: center;
    display: flex;
    height: 300px;
    background-color: #642ca9;
    margin-top: -5px;
    padding: 30px 0;
}
.imagens{
    padding: 0 10px;
    border-radius: 90px;
}
#especial{
    height: 400px;
    margin-top: -350px;
    float: right;
    margin-right: 100px;
}