@charset "UTF-8";

/*Todas as midias*/

@media print {/*impressão*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);/*Desnecesário pois a impressora não considera o background*/
    }
    main{
        border: 2px solid black;
    }
    h1{
        text-shadow: none;
        color: black;
    }
    html::after{
        content: 'Essa impressão foi feita dia 20/01/2026';
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){/*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){/*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}

@media screen and (min-width: 1200px){/*telas grandes*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}